
*{
	margin: 0%;
}

.userPic{
	width: 20vw;
}

.back{
	padding-top: 1vh;
	padding-bottom: 1vh; 
	min-height: 98vh;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("images/registerView/back.jpg");
	align-items: center;
}

.selectorSection{
	display: flex;
}



.imageSelector{
	width:3.5vw;
	height: 3.5vw;;
	border-radius: 50%;
	margin: 1vh;
}

.form{
	padding: 1vh;
	margin-left: auto;
	margin-right: auto;
	display: inline;
	
}

#info{
	display: flex;
}

#infoImage{
	width: 15vw;
	height: 15vw;
	display: flex;
}

#infoProduct{
	width: 100%;
	text-align: left;
	margin-left: 5%;
}

#inline{
	display: flex;
}


.enviar{
	background-color: var(--tema2);
}

.paperSection{
	margin-top: 1vh;
	margin-left: 1vw;
	width: 45%;
	box-shadow: 0px 0px 0px black;	
	padding: 1vw;
	display: felx;
}





